.keyboard-container {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 13px;

    .keyboard-line {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-bottom: 5px;

        .keyboard-btn {
            height: 54px;
            aspect-ratio: 34/54;
            background-color: darkcyan;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &.ENTER {
                height: 54px;
                aspect-ratio: auto;
            }
            &.CLEAR {
                height: 54px;
                aspect-ratio: auto;
            }
            
            &.incorrect-guess {
                background-color: #686868;
            }
        }
    }
}