<div class="keyboard-container">
    <div class="keyboard-line keyboard-line-1">
        <button
            class="keyboard-btn {{btn}} {{incorrectLetters.get(btn)}}"
            *ngFor="let btn of keyboardBtnLine1"
            type="button"
            (click)="keyboardBtnClicked(btn)">{{btn}}</button>
    </div>
    <div class="keyboard-line keyboard-line-2">
        <button
            class="keyboard-btn {{btn}} {{incorrectLetters.get(btn)}}"
            *ngFor="let btn of keyboardBtnLine2"
            type="button"
            (click)="keyboardBtnClicked(btn)">{{btn}}</button>
    </div>
    <div class="keyboard-line keyboard-line-3">
        <button
            class="keyboard-btn {{btn}} {{incorrectLetters.get(btn)}}"
            *ngFor="let btn of keyboardBtnLine3"
            type="button"
            (click)="keyboardBtnClicked(btn)">
                <span *ngIf="btn=='ENTER'" class="material-symbols-outlined">
                    arrow_forward
                </span>
                <span *ngIf="btn=='CLEAR'" class="material-symbols-outlined">
                    backspace
                </span>
                <span *ngIf="btn!='ENTER' && btn !='CLEAR'">
                    {{btn}}
                </span>
        </button>
    </div>
</div>