
<div class="instructions-container">
    <h1>How To Play</h1>
    <ul>
        <li>Guess the Word in 6 tries.</li>
        <li>Each guess must be a valid 5-letter word.</li>
        <li>The color of the tiles will change to show how close your guess was to the word.</li>
    </ul>

    <h2>Examples</h2>

    <ul>
        <li>Blue color indicates that the word contains the letter but it is in the wrong spot.</li>
        <li>Green color indicates that the letter is at the correct position in the word.</li>
        <li>If the letter is not highlighted it means that the word does not contain the guessed letter.</li>
    </ul>

</div>